body {
   display: flex; 
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background-color: aquamarine;
}

.calculator {
    border: solid black;
}

.buttons {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.display {
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

button {
    width: 80px;
    height: 50px;
}
